html {
    font-size: 16px;
}

p {
    font-size: 1 rem;
}


@font-face {
    font-family: "Boom";
    src: url(../путь к папке с фонтами.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Boom";
    src: url(../путь к папке с фонтами.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Boom";
    src: url(../путь к папке с фонтамиMoserrat-Medium.ttf);
    font-style: normal;
    font-weight: 700;


}

p {
    font-family: Boom;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

* {
    outline: 1px solid red;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    width: 940px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

/* header */
.main-header {


    height: 65px;
    margin-bottom: 96px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

}

.title {
    width: 87px;
}

.logo {
    display: block;
    text-decoration: none;
    color: rgb(254, 215, 81);
    font-size: 26px;
    line-height: 41px;
    ;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 495px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-family: sans-serif;



}

.main-menu a {
    color: black;
}

.main-item {
    text-transform: uppercase;



}

.main-menu a:hover {
    color: rgb(254, 215, 81);
}

.main-link {
    display: block;
    text-decoration: none;
}

/* section1 */
.part-one {
    margin-bottom: 56px;

}

.italic {
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
    color: #777777;
    font-family: 'Merriweather Sans';
    font-weight: 400;
}

.title-one {
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.text {
    margin: 0;
    margin-bottom: 48px;
    text-align: center;

}

.articles {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.web-item {
    width: 290px;
   
}

.web-item::before {
    display: block;
    content: '';
    width: 75px;
    height: 75px;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin: 0 auto;
}

.basket::before {
    background-image: url('../img/basket.png');
    background-repeat: no-repeat;
    background-position: center;
}

.laptop::before {
    background-image: url('../img/laptop.png');
    background-repeat: no-repeat;
    background-position: center;
}

.locked::before {
    background-image: url('../img/locked.png');
    background-repeat: no-repeat;
    background-position: center;
}


.web-link {
    display: block;
    text-decoration: none;

}

.name-text {
    font-size: 18px;
    line-height: 75px;
    margin: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.under-text {
    font-family: 'Roboto', sans-serif;
    color: #777777;
    margin: 0;
    font-weight: 400;
    line-height: 17px;
}

/* section2 */

.part-two {
    padding-top: 104px;
    background-color: black;
    min-height: 676px;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: right; 

    width: 100%;

}

.wrapper {
    display: flex;
    height: 567px;
    padding-top: 74px;

    max-width: 1400px;
    /* background-image: url('../img/map.png');  */
   background-repeat: no-repeat;
   background-position: right; 
    margin: 0 auto; 
}


.color {}

.title-two {
    text-transform: uppercase;
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: white;

}

.title-two,
.text-two {
    margin: 0;
    text-align: center;
}
.title-two {
margin-bottom: 20px;
}
.text-two {
   
}
.get {

    margin: 0 auto;
}
.forms {
   text-align: center;
 
        justify-content: space-between;
        position: relative;
    margin: 0 auto;
   
    /* display: flex; */
  
    width: 940px;
/* height: 214px; */
}
.form-item {
    width: 457px;
    height: 50px;
    margin-right: 30px;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    list-style: none;
}

.box li {
    width: 455px;
    height: 54px;

}

.box .write {
    font-family: 'Moserrat', sans-serif;
    font-weight: 700;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
}

.send {
    padding: 0;
    margin: 0;
}

.textarea {
    resize: none;
    width: 455px;
    height: 214px;
}

.message {
    resize: none;
    width: 455px;
    height: 214px;

}

/*.inlist {
    display: flex;
   
    width: 940px;
    margin: 0 auto;*/

}
.get {
    width: 950px;
}
.get input[type='text']:valid {
    border-color: green;
}
.get input[type='text']:invalid {
    border-color: red;
}
/* .send {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% -50%);
  


} */

.inner {
    display: flex;
    margin-bottom: 25px;
}
 .button:hover {
     justify-content: center;
     border: none;
     width: 240px;
     height: 56px;
     background-color: #fed136;
     text-transform: uppercase;
     color: white;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
 }

